/* Style de Base */
main {
    padding: 0;
    margin: 0;
    height: 55%;
}
h3 {
    font-family: Tahoma, sans-serif;
    color: #95A5A6;
}
p {
    text-align: justify;
}
footer p {

    text-align: center ;
    font-family: Tahoma,sans-serif;
    color: #ECF0F1;
    margin-top: 10%;
}
.row p {
    font-family: Tahoma, sans-serif;
    font-size: 16px;

}
.container {
    background-image: url(../image/dark_fish_skin.png);
    width: 100%;
    padding: 10px;

}

.row {
    margin: 15px;
    padding: 10px;
}
#colonnes {
    background-image: url(../image/fabric_plaid.png);
    padding-top: 5%;
}

footer {
    height: 30%;
}
header h1,h2 {
    vertical-align: top;
    text-align: center;
    font-family: Tahoma, sans-serif;
    color: #95A5A6;
    box-sizing: border-box;
}
.inf {
    margin-left: 20px;
}


li {
    font-family: Tahoma,sans-serif;
    list-style-type: circle;

}

iframe{
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}
a {
    color: #95A5A6;
    text-decoration: none;
    padding-left: 10px;
}
  .is-hover:hover {
      color: #ff0000;
  }
/* Smartphone */

@media (max-width: 767px) {
    .container {
        padding: 0;
        height: auto;
    }
    .inf,h3,ul,p {
        padding: 0;
        margin-left:-10px;
    }
    img,iframe {
        width: 100%;
        height: 30%;
    }
}

/* Tablettes */

@media (min-width: 768px) and (max-width: 992px) {
    .container {
        padding: 0;
        height: auto;
    }
    iframe {
        width: 100%;
        height: 40%;
    }
    img {
        width: 60%;
        height: 30%;
        margin-left: 20%;
    }
    .inf,h3,ul,p {
        padding: 0;
        margin-left:-10px;
    }
}

/* Moyen et grands écrans */

@media (min-width: 993px) {
    footer p {
        text-align: center;
    }
    iframe {
        width: 100%;
        height: 80%;
    }
}